@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.eot');
    src: url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avanti';
    src: url('../fonts/Avanti.eot');
    src: url('../fonts/Avanti.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avanti.woff2') format('woff2'),
        url('../fonts/Avanti.woff') format('woff'),
        url('../fonts/Avanti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MinionPro-Regular.woff2') format('woff2'),
        url('../fonts/MinionPro-Regular.woff') format('woff'),
        url('../fonts/MinionPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    
            